<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <h1>KMUTT E-Drive Revolution</h1>
        <p>Jakrapat Worawong (Tew)</p>
        <img src="EDRmonitor/static/images/tew1.jpg" alt="P'Tew" width="680" height="400">

        <h2>ช่องทางติดต่อ...</h2>
        <ul>
          <li><a href="https://www.facebook.com/jakrapat.worawong">Facebook</a></li>
          <li><a href="https://www.instagram.com/moe_tewame/?hl=th">Instagram</a></li>
        </ul>

    </body>
</html>