<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>EDRMonitor</title>
    </head>
    <body>
        <h1>KMUTT E-Drive Revolution</h1>
        <p>Jakrapat Worawong (Tew)</p>
        <img src="static/images/tew1.jpg" alt="P'Tew" width="680" height="400">
        <p>สวัสดีครับ กระผมนายจักรภัทร วรวงษ์.....เส ผู้ให้กำเนิดทีมงานOverall ณ ทีมรถไฟฟ้าชื่อดังอนาคตไกล KMUTT E-drive Revolution เรียกผมว่าทิว หรือหล่อก็ได้</p>
        <p>เพื่อนๆอาจจะสงสัยกันว่าทำไมถึงเรียกผมว่าหล่อได้ เท้าความถึงสมัยวัยเด็กหนุ่มน้อยกลอยใจ กระผมได้เป็นที่หมายปองของเด็กสาวมากมาย ณโรงเรียนชงหัว ซินเซิงเสียเที่ยวในยุคนั้นจนถึงปัจจุบัน ได้มีเด็กสาวจำนวน16ท่านที่ต้องเสียใจเพราะกระผม</p>
       <h3>ดังกลอนเเห่งกวีดังที่ว่า</h3>
        <p>ถึงม้วยดินสิ้นฟ้ามหาสมุทร
            ไม่สิ้นสุดความรักสมัครสมาน
            แม้อยู่ในใต้หล้าสุธาธาร
            ขอพบพานพิสวาทมิคลาดคลา</p>
        <p>แม้เนื้อเย็นเป็นห้วงมหรรณพ
            พี่ขอพบศรีสวัสดิ์เป็นมัจฉา
            แม้เป็นบัวตัวพี่เป็นภุมรา
            เชยผกาโกสุมปทุมทอง</p>
        <p>แม้เป็นถ้ำอำไพขอให้พี่
            เป็นราชสีห์สมสู่เป็นคู่สอง
            ขอติดตามทรามสงวนนวลละออง
            เป็นคู่ครองพิศวาสทุกชาติไป</p>

        <h2>ช่องทางติดต่อ...</h2>
        <ul>
          <li><a href="https://www.facebook.com/jakrapat.worawong">Facebook</a></li>
          <li><a href="https://www.instagram.com/moe_tewame/?hl=th">Instagram</a></li>
        </ul>

    </body>
</html>